
<footer class="page-footer mainColor">
  <div class="container ">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Help IBM2 Grow</h5>
        <p class="grey-text text-lighten-4">
            We hope you have enjoyed using EV-Charging and if you feel
            like it has helped you out and want to support the team you
            can help us by donating or backing us. Any amount
            would help support and continue development on this project
            and is greatly appreciated.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2019 EV-Charger
    </div>
  </div>
</footer>
